# IDE Settings
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/codeStyleConfig.xml
.idea/**/discord.xml
.idea/**/aws.xml

# Artifacts
bin/
obj/
*.nupkg

# User Specific
*.user
